<app-report-filters [reportType]="reportType" (notify)="onNotify($event)"></app-report-filters>
<ng2-toasty></ng2-toasty>
<div class="row" *ngIf="listQuickSell.length > 0">
  <div class="col-lg-12 col-md-12">
    <tabset>
      <tab heading="Resumo">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th class="text-center"></th>
              <th class="text-center">Cód.</th>
              <th class="text-center">Data/Hora</th>
              <th class="text-center">Tipo</th>
              <th class="text-left">Cliente</th>
              <th class="text-center">Caixa</th>
              <th class="text-left">Chave NFE</th>
              <th class="text-center">Total/Desc.</th>
              <th class="text-center">Total</th>
            </tr>
          </thead>
          <tbody>
          <tr *ngFor="let quickSell of listQuickSell | paginate: { itemsPerPage: 5, currentPage: p }"
              id="quickSellRow_{{quickSell.id}}">
            <td>
              <div class="radio">
                <label><input type="radio" name="radioSelectQuickSell"
                              [checked]="quickSellSelected.id === quickSell.id"
                              (change)="selectRow($event, quickSell, quickSell.id)">
                </label>
              </div>
            </td>
            <td class="text-center">{{quickSell.id}}</td>
            <td>{{getConvertedDate(quickSell.sellDate)}} &nbsp; {{quickSell.schedule}}</td>
            <td class="text-center">{{quickSell.type}}</td>
            <td class="text-left">{{quickSell.client.name}}</td>
            <td class="text-center">{{quickSell.cashier}}</td>
            <td class="text-left">{{quickSell.nfeKey}}</td>
            <td class="text-center">R{{quickSell.totalWithDescount | currency:'USD':true:'1.2-2'}}</td>
            <td class="text-center">R{{quickSell.total | currency:'USD':true:'1.2-2'}}</td>
          </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <pagination-controls previousLabel="Anterior"
                                 nextLabel="Próximo"
                                 (pageChange)="p = $event">
            </pagination-controls>
          </div>
        </div>
        <app-sale-resume [saleResume]="saleResume"></app-sale-resume>
      </tab>
      <tab heading="Produtos">
        <app-product-quick-sell [quickSell]="quickSellSelected"></app-product-quick-sell>
      </tab>
      <tab heading="Detalhamento">
        <app-quick-sell-details [quickSell]="quickSellSelected"></app-quick-sell-details>
      </tab>
    </tabset>
  </div>
</div>

