<div class="container" *ngIf="quickSell">
  <div class="row">
    <div class="panel panel-default" style="margin-bottom: 0px;">
      <div class="panel-heading">
        <h2 class="panel-title">
          Produtos
          <span class="fa fa-shopping-cart"></span>
        </h2>
      </div>
      <div class="panel-body" style="background-color: #FFFFAB; color: #ff9900;" *ngIf="quickSell.listProductQuickSell">
        <div class="row" *ngFor="let productQuickSell of quickSell.listProductQuickSell">
          <div class="col-lg-12 col-md-12">
            <div class="row">
              <div class="col-lg-1 col-md-1">
                <label for="textQuickSellProductId" class="label-control">Cód.:</label>
                <span id="textQuickSellProductId">{{productQuickSell.product.id}}</span>
              </div>
              <div class="col-lg-3 col-md-3">
                <label for="textQuickSellProductName" class="label-control">Nome:</label>
                <span id="textQuickSellProductName">{{productQuickSell.product.name}}</span>
              </div>
              <div class="col-lg-3 col-md-3">
                <label for="textQuickSellProductBarCode" class="label-control">Barra:</label>
                <span id="textQuickSellProductBarCode">{{productQuickSell.product.barCode}}</span>
              </div>
              <div class="col-lg-1 col-md-1">
                <label for="textQuickSellProductQuantity" class="label-control">Quant.:</label>
                <span id="textQuickSellProductQuantity">{{productQuickSell.quantity}}</span>
              </div>
              <div class="col-lg-1 col-md-1">
                <label for="textQuickSellProductValue" class="label-control">Valor:</label>
                <span id="textQuickSellProductValue">{{productQuickSell.value}}</span>
              </div>
              <div class="col-lg-2 col-md-2">
                <label for="textQuickSellProductSubtotal" class="label-control">Subtotal:</label>
                <span id="textQuickSellProductSubtotal">{{productQuickSell.subTotal}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-1 col-md-1" *ngIf="productQuickSell.cst">
                <label for="textQuickSellProductCst" class="label-control">CST:</label>
                <span id="textQuickSellProductCst">{{productQuickSell.cst}}</span>
              </div>
              <div class="col-lg-3 col-md-3" *ngIf="productQuickSell.cfop">
                <label for="textQuickSellProductCfop" class="label-control">CFOP:</label>
                <span id="textQuickSellProductCfop">{{productQuickSell.cfop}}</span>
              </div>
              <div class="col-lg-3 col-md-3" *ngIf="productQuickSell.ncm">
                <label for="textQuickSellProductNCM" class="label-control">NCM:</label>
                <span id="textQuickSellProductNCM">{{productQuickSell.ncm}}</span>
              </div>
              <div class="col-lg-2 col-md-3">
                <label for="textQuickSellProductGroup" class="label-control">Grupo:</label>
                <span id="textQuickSellProductGroup">{{productQuickSell.product.productGroup.name}}</span>
              </div>
              <div class="col-lg-2 col-md-2">
                <label for="textQuickSellProductFamily" class="label-control">Família:</label>
                <span id="textQuickSellProductFamily">{{productQuickSell.product.productFamily.name}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-2 col-md-2" *ngIf="productQuickSell.aliquotICMS">
                <label for="textQuickSellProductAliquotICMS" class="label-control">Aliq. ICMS:</label>
                <span id="textQuickSellProductAliquotICMS">{{productQuickSell.aliquotICMS}}</span>
              </div>
              <div class="col-lg-2 col-md-2" *ngIf="productQuickSell.product.productOther?.freightValue">
                <label for="textQuickSellProductFreightValue" class="label-control">Val./Frete:</label>
                <span id="textQuickSellProductFreightValue">{{productQuickSell.product.productOther?.freightValue}}</span>
              </div>
              <div class="col-lg-2 col-md-2" *ngIf="productQuickSell.product.productOther?.insuranceValue">
                <label for="textQuickSellProductInsuranceValue" class="label-control">Val./Seguro:</label>
                <span id="textQuickSellProductInsuranceValue">{{productQuickSell.product.productOther?.insuranceValue}}</span>
              </div>
              <div class="col-lg-2 col-md-2" *ngIf="productQuickSell.product.productOther.discountValue">
                <label for="textQuickSellProductDiscountValue" class="label-control">Val./Seguro:</label>
                <span id="textQuickSellProductDiscountValue">{{productQuickSell.product.productOther?.discountValue}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="quickSell.client">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">
          Cliente
          <span class="fa fa-user"></span>
        </h2>
      </div>
      <div class="panel-body" style="background-color: #FFFFAB; color: #ff9900;">
        <div class="row">
          <div class="col-lg-1 col-md-1">
            <label for="textQuickSellClientId" class="label-control">Cód.:</label>
            <span id="textQuickSellClientId">{{quickSell.client.id}}</span>
          </div>
          <div class="col-lg-3 col-md-3">
            <label for="textQuickSellClientName" class="label-control">Nome:</label>
            <span id="textQuickSellClientName">{{quickSell.client.name}}</span>
          </div>
          <div class="col-lg-3 col-md-3" *ngIf="quickSell.client.cpf">
            <label for="textQuickSellClientCPF" class="label-control">CPF:</label>
            <span id="textQuickSellClientCPF">{{quickSell.client.cpf}}</span>
          </div>
          <div class="col-lg-3 col-md-3" *ngIf="quickSell.client.cnpj">
            <label for="textQuickSellClientCNPJ" class="label-control">CNPJ:</label>
            <span id="textQuickSellClientCNPJ">{{quickSell.client.cnpj}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4" *ngIf="quickSell.client.address">
            <label for="textQuickSellClientAddress" class="label-control">Endereço:</label>
            <span id="textQuickSellClientAddress">{{quickSell.client.address}}</span>
          </div>
          <div class="col-lg-3 col-md-3" *ngIf="quickSell.client.complement">
            <label for="textQuickSellClientComplement" class="label-control">Comp.:</label>
            <span id="textQuickSellClientComplement">{{quickSell.client.complement}}</span>
          </div>
          <div class="col-lg-1 col-md-1" *ngIf="quickSell.client.addressNumber">
            <label for="textQuickSellClientAddressNumber" class="label-control">Nº:</label>
            <span id="textQuickSellClientAddressNumber">{{quickSell.client.addressNumber}}</span>
          </div>
          <div class="col-lg-3 col-md-3" *ngIf="quickSell.client.city">
            <label for="textQuickSellClientCity" class="label-control">Cidade:</label>
            <span id="textQuickSellClientCity">{{quickSell.client.city}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4" *ngIf="quickSell.client.neighborhood">
            <label for="textQuickSellClientNeighborhood" class="label-control">Bairro:</label>
            <span id="textQuickSellClientNeighborhood">{{quickSell.client.neighborhood}}</span>
          </div>
          <div class="col-lg-4 col-md-4" *ngIf="quickSell.client.cel1">
            <label for="textQuickSellClientCel1" class="label-control">Tel 1:</label>
            <span id="textQuickSellClientCel1">{{quickSell.client.cel1}}</span>
          </div>
          <div class="col-lg-4 col-md-4" *ngIf="quickSell.client.cel2">
            <label for="textQuickSellClientCel2" class="label-control">Tel 2:</label>
            <span id="textQuickSellClientCel2">{{quickSell.client.cel2}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
