@media all and (min-width: 380px)
{
  .margin-left-btn-sing-out {
    margin-left: 65px;
  }
}
/*tbody td, thead > tr > th {
  float: left;
}*/
.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 150px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}
