<div class="row" *ngIf="saleResume">
  <div class="col-lg-12 col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Resumo de Vendas</h3>
      </div>
      <div class="panel-body" style="background-color: #FFFFAB; color: #ff9900;">
        <div class="row">
          <div class="col-lg-3 col-md-3" *ngIf="saleResume.saleTotal && saleResume.saleTotal !== 0">
            <label for="textSaleResumeSaleTotal" class="label-control">Total de Vendas:</label>
            <span id="textSaleResumeSaleTotal">R{{saleResume.saleTotal | currency:'USD':true:'1.2-2'}}</span>
          </div>
          <div class="col-lg-3 col-md-3">
            <label for="textSaleResumeNumTotalSales">Total de Produtos:</label>
            <span id="textSaleResumeNumTotalSales">{{saleResume.numTotalSales}}</span>
          </div>
          <div class="col-lg-3 col-md-3"
               *ngIf="saleResume.productTotalPriceCost && saleResume.productTotalPriceCost !== 0">
            <label for="textSaleResumeProductTotalPriceCost">Total de Custos:</label>
            <span id="textSaleResumeProductTotalPriceCost">R{{saleResume.productTotalPriceCost | currency:'USD':true:'1.2-2'}}</span>
          </div>
          <div class="col-lg-3 col-md-3"
               *ngIf="saleResume.productTotalDiscountValue && saleResume.productTotalDiscountValue !== 0">
            <label for="textSaleResumeProductTotalDiscountValue">Total Com Descontos:</label>
            <span id="textSaleResumeProductTotalDiscountValue">R{{saleResume.productTotalDiscountValue | currency:'USD':true:'1.2-2'}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
